//Become a member

.bam-item {
	text-align: center;
	padding: 2.5em 0;
	width: 80%;
	margin: 0 auto;

	.bam-blurb {
		a {
			color: $ce-blue;
			text-decoration: underline;
		}
	}

	.bam-button {
		border: 1px solid rgba(0,0,0,0.15);
		border-radius: 5px;
		width: 15em;
		height: 2em;
		margin: 0 auto;
		margin-top: 1.5em;

		a {
			line-height: 2em;
			display: block;
			color: rgba(0,0,0,0.7);
			text-transform: uppercase;
			font-weight: 300;
		}
	}
}