section {
	min-height: 80vh;
	padding: 2.5em 1em;
	display: flex;

	.section-inner {
		align-self: center;
	}
}
.grey-section {
	background-color: rgba(0,0,0,0.03);
}

.section-header {

	text-align: center;

	h1 {
		font-size: 2em;
		font-weight: 700;
		text-transform: uppercase;
	}

	.sub-heading {
		font-weight: 300;
		font-size: 1.25em;

		a {
			color: $ce-blue;
			text-decoration: underline;
		}
	}
}

.section-inner {
	max-width: 1400px;
	margin: 0 auto;
}

@media only screen and (min-width: 40em){
	.col-container {
		display: flex;
		flex-wrap: wrap;

		.col-4-item {
			flex: 1 0 45%;
		}

		.col-3-item {
			flex: 1 0 45%;
		}

		.col-2-item {
			flex: 1 0 90%;
		}
	}
}

@media only screen and (min-width: 60em){
	.col-container {
		.col-4-item {
			flex: 1 0 20%;
		}

		.col-3-item {
			flex: 1 0 30%;
		}

		.col-2-item {
			flex: 1 0 45%;
		}
	}
}