.partner-item {
	text-align: center;
	padding: 2.5em 0;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	width: 80%;
	margin: 0 auto;

	&-image {
		width: 60%;
		margin: 0 auto;
		max-width: 12em;

		img {
			display: block;
			width: 100%;
		}
	}

	&-blurb {
		padding: 1em 0;
		margin: 0 auto;

		 p {
		 	font-weight: 300;
		 }
	}

	&-button {
		border: 1px solid rgba(0,0,0,0.15);
		border-radius: 5px;
		width: 15em;
		height: 2em;
		margin: 0 auto;

		a {
			line-height: 2em;
			display: block;
			color: rgba(0,0,0,0.7);
			text-transform: uppercase;
			font-weight: 300;
		}
	}
}

#our-parters {
	.col-container {
		.col-4-item:last-child {
			.partner-item {
				border: none;
			}
		}
	}
}

@media only screen and (min-width : 40em){
	#our-parters {
		.col-container {
			.col-4-item:nth-last-child(2) {
				.partner-item {
					border: none;
				}
			}
		}
	}
}

@media only screen and (min-width: 60em){
	.partner-item {
		border: none;
		display: flex;
		flex-direction: column;

		&-image, &-button {
			flex: 0 0 auto;
		}

		&-blurb {
			flex: 1 0 auto;
		}

		&-button {
			transition: .5s ease all;

			&:hover {
				background-color: rgba(0,0,0,0.9);
				a {
					color: #fff;
				}
			}
		}
	}
}