//Woocommerce Modifications

//Single Product
.single-product {

	.related {
		flex-wrap: wrap;
		flex-direction: row;
		align-content: flex-start;

		h1 {
			flex: 1 0 90%;
		}

		ul {
			flex: 1 0 90%;
		}
	}

	.woocommerce-product-gallery__wrapper {
		max-width: 20em;
	}

	.single_add_to_cart_button {
		background-color: $ce-blue !important;
	}

	.up-sells {
		flex-wrap: wrap;
		flex-direction: row;
		align-content: flex-start;

		h1 {
			flex: 1 0 90%;
		}

		ul {
			flex: 1 0 90%;
		}

	}
}

//Cart
.cart-collaterals {
	.checkout-button {
		background-color: $ce-blue !important;
	}
}

.woocommerce-cart-form {

	//Remove coupon area from cart page.
	.coupon {
		display: none;
	}
}

#cart-area {
	margin-left: .5em;

	&:before {
		content: '';
	}
}


//Cart Count for Navigation

.cart-contents {
	position: relative;
}

.cart-contents:before {
    font-family:WooCommerce;
    content: "\e01d";
    font-size:28px;
    margin-top:10px;
    font-style:normal;
    font-weight:400;
    padding-right:5px;
    vertical-align: bottom;
}
.cart-contents:hover {
    text-decoration: none;
}
.cart-contents-count {
	position: absolute;
	top: -15px;
	right: -5px;
    color: #fff;
    background-color: $ce-blue;
    font-weight: bold;
    border-radius: 50%;
    padding: 1px 6px;
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: top;
}

//Checkout
.woocommerce-checkout {
	.woocommerce-billing-fields {
		label {
			font-size: .75em;
			font-weight: 300;
		}

		input {
			border-radius: 5px;
			outline: none;
			border: #E5E3E7 solid 1px;
			padding: .5em 1em;
		}

		#billing_last_name_field, #billing_first_name_field, #billing_company_field, #billing_country_field, #billing_address_1_field, #billing_address_2_field, #billing_city_field, #billing_state_field, #billing_postcode_field, #billing_phone_field, #billing_email_field {
			display: flex;
			flex-wrap: wrap;

			label {
				flex: 1 0 90%;
			}

			.woocommerce-input-wrapper {
				flex: 1 0 90%;
			}
		}
	}

	#order_comments_field {
		display: flex;
		flex-wrap: wrap;

		label {
			flex: 1 0 90%;
		}

		.woocommerce-input-wrapper {
			flex: 1 0 90%;
		}

		textarea {
			border-radius: 5px;
			outline: none;
			border: #E5E3E7 solid 1px;
			padding: .5em 1em;
		}
	}

	.select2-dropdown {
		box-shadow: 0 0 5px rgba(0,0,0,0.5);
	}

	//Remove outline from select dropdown

	.select2-search {
		input {
			outline: none !important;
		}
	}

	.button {
		background-color: $ce-blue !important;
	}
}

//Info alert box border

.woocommerce-info {
	border-top-color: $ce-blue !important;

	&:before {
		color: $ce-blue !important;
	}
}

//Login
.woocommerce-form-login {
	.woocommerce-form-row {
		label {
			font-size: .75em;
			font-weight: 300;
		}

		input {
			border-radius: 5px;
			outline: none;
			border: #E5E3E7 solid 1px;
			padding: .5em 1em;
		}
	}

	.woocommerce-Button {
		background-color: $ce-blue !important;
		color: #fff !important;
		width: 10em;
	}

	.woocommerce-form__label {
		margin-left: 1em;

		span {
			font-weight: 300;
		}
	}
}

//Product Grid



.products.columns-4 {
	margin-top: 2em !important;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;

	.product {
		border: 1px rgba(0,0,0,0.1) solid;
		padding: 1em !important;
		border-radius: 5px;
		float: left !important;
		flex: 1 0 90%;
		box-sizing: border-box;
		margin: 1em !important;
		max-width: 20em;
	}
}

@media only screen and (min-width: 40em){
	.products.columns-4  {
		.product {
			flex: 0 0 45%;
		}
	}
	
}

@media only screen and (min-width: 60em){
	.products.columns-4{
		display: flex;
		justify-content: space-between;

		.product {
			flex: 0 0 30%;
		}
	}
}